<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New item</title>
</head>

<body>
    <h1>Add an item</h1>
    <form action="/item" method="POST">
        <label for="title">Item Name</label>
        <input type="text" name="title" id="title" placeholder="Item name">
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" placeholder="quantity" id="quantity">
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <% for(let category of categories){ %>
                <option value="<%=category%>">
                    <%=category%>
                </option>
                <% } %>
        </select>
        <label for="description">Please Write Description</label>
        <input type="text" name="description" id="" placeholder="Add a description">
        <button>Submit</button>
    </form>
</body>

</html>